@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .slick-slider {
        /* height: 330px; */
        margin-top: 40px;
    }
    .slick-slider .slick-prev,
    .slick-slider .slick-next {
        font-size: 12px;
        line-height: 1;
        position: absolute;
        top: 40%;
        display: block;
        padding: 0;
        transform: translate(0, -50%);
        cursor: pointer;
        outline: none;
        border : solid 1px #ccc;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    .slick-slider .slick-prev { 
        left: 0.1%; 
    }
    .slick-slider .slick-next { 
        right: 0.1%; 
    }
    
    .slick-slider .slick-prev, 
    .slick-slider .slick-next {
        z-index: 1;
        background-color: #ea8025;
        border-radius: 50%;
    }
    .slick-slider .slick-prev:hover, 
    .slick-slider .slick-next:hover {
        z-index: 1;
        background-color: #ea8025;
        border-radius: 50%;
    }
    .slick-slider .slick-prev:active, 
    .slick-slider .slick-next:active {
        background-color: #ea8025;  /* Giữ nguyên màu nền khi nhấn */
        transform: scale(1);      /* Hiệu ứng nén nhẹ khi nhấn */
    }
    .slick-slider .slick-prev:focus, 
    .slick-slider .slick-next:focus {
        background-color: #ea8025;  /* Giữ nguyên màu nền khi focus */
        outline: none;               /* Loại bỏ outline khi focus */
    }
    .cow_left img {
        width: 542px;
        height: 360px;
        border-radius: 10px;
        margin-left: auto;
    
    }
    
    .product_img img {
        width: 255px;
        height: 240px;
        border-radius: 10px;
        box-shadow: 3px 3px 10px #ccc;
    }
    
    .item h3 {
        padding-top: 0.5rem;
        font-weight: 600;
        font-size: 16px;
    }
    
    .item p {
        color: #838080;
        font-size: 14px;
    }
    
    .banner-mid img {
        height: 600px;
        margin: 40px 0;
    }
    
    h3{
        /* font-size: 17px; */
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
    }
    h3:hover {
        color: #ea8025 ;
    }
    
    button{
        color: #ea8025 ;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
    }
}