.cow_left img {
    width: 620px;
    height: 360px;
    border-radius: 10px;
}

.product_img img {
    width: 280px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #ccc;
}

.item h3 {
    padding-top: 0.5rem;
    font-weight: 600;
    font-size: 16px;
}

.item p {
    color: #838080;
    font-size: 14px;
}

.banner-mid img {
    height: 600px;
    margin: 40px 0;
}

h3{
    /* font-size: 17px; */
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
h3:hover {
    color: #ea8025 ;
}

button{
    color: #ea8025 ;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
button:hover {
    color: #ea8025 ;
}